<nav class="navbar navbar-light toolbar_background">
    <form class="form-inline">
        <span class="btn btn-labeled btn-primary">
            <i class="fas fa-plus"></i> <span class="hidden-text"> Add</span>
        </span>
        &nbsp;
        <span class="btn btn-labeled btn-primary">
            <i class="fas fa-pencil-alt"></i> <span class="hidden-text"> Edit</span>
        </span>
        &nbsp;
        <span class="btn btn-labeled btn-primary">
            <i class="fas fa-trash-alt"></i> <span class="hidden-text"> Delete</span>
        </span>
    </form>
    <span class="navbar-text navbar-title">
        My Playlists
    </span>
</nav>