<div class="row">
    <div class="col-sm-9 mx-auto">
        <form action="signup">
            <div class="card card-signup my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>

                    <div class="form-label-group">
                        <label for="firstname">Firstname:</label>
                        <input class="form-control" id="firstname">
                    </div>
                    <div class="form-label-group">
                        <label for="lastname">Lastname:</label>
                        <input class="form-control" id="lastname">
                    </div>
                    
                    <hr class="my-4">

                    <div class="form-label-group">
                        <label for="username">Username:</label>
                        <input class="form-control" id="username">
                    </div>
                    <div class="form-label-group">
                        <label for="password">Password:</label>
                        <input class="form-control" id="password" type="password">
                    </div>
                    <div class="form-label-group">
                        <label for="confirmpassword">Confirm password:</label>
                        <input class="form-control" id="confirmpassword" type="password">
                    </div>

                    <div>
                        <button class="btn btn-ln btn-primary btn-block text-uppercase" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>