<div class="row">
    <form action="signup">
        <div class="form">
            <div class="form-label-group">
                <label for="firstname">Firstname:</label>
                <input class="form-control" id="firstname">
            </div>
            <div class="form-label-group">
                <label for="lastname">Lastname:</label>
                <input class="form-control" id="lastname">
            </div>
            
            <hr class="my-4">

            <div class="form-label-group">
                <label for="username">Username:</label>
                <input class="form-control" id="username">
            </div>
            <div class="form-label-group">
                <label for="password">Password:</label>
                <input class="form-control" id="password" type="password">
            </div>
            <div class="form-label-group">
                <label for="confirmpassword">Confirm password:</label>
                <input class="form-control" id="confirmpassword" type="password">
            </div>

            <div class="form-group">
                <button class="btn btn-ln btn-primary btn-block text-uppercase" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>