/* You can add global styles to this file, and also import other style files */

@import "../../kamp-app/node_modules/bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -56px;
    padding: 0px;
}

footer
{
    background-color: #dddddd;
    min-height: 50px;
    padding: 0px;
}

.media-content {
    padding: 5px;
    margin: 0 auto;
}